@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
h1 {
 font-family: 'Pacifico', cursive;
  letter-spacing: .1rem;
  color: #D0378C;
  background-color:black;
  font-size:4em;
  text-align:center;
  margin-left:2px;
  margin-right:2px;
  border-radius:25px;
}

.disclamer>h3 {
    text-align:center !important;
    height:auto;
    font-size:1.5em;
    color:red;
    font-family: monospace;
}

.disclamer {
    margin:5px;
    background-color:lightgrey;
    color:purple;
    border-radius:24px;
    font-size:2em;
    font-family:monospace;
    padding:5px;
    text-align:center;
}

.main-wish>h3 {
    font-family: 'Pacifico', cursive;
    color: #D0378C;
    font-size:1.5em;
    margin-left:10px;
}

.main-wish {
      margin:5px;
    background-color:lightgrey;
    color:purple;
    border-radius:24px;
    font-size:1.6em;
    font-family:sans-serif;
    padding:5px;
    text-align:left;
}

.emphasis {
    font-size:130%;
    font-weight: 800;
    color:darkred;

}

.conclusion>h3 {
    font-family: 'Pacifico', cursive;
    color: #D0378C;
    font-size:1.5em;
    margin-left:10px;
}

.conclusion {
      margin:5px;
    background-color:lightgrey;
    color:purple;
    border-radius:24px;
    font-size:1.6em;
    font-family:sans-serif;
    padding:5px;
    text-align:left;
}

.very-special {
    font-family: cursive;
    color:darkblue;
    font-weight:600;
    text-decoration:underline;
}