@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.container{
    background-image: url(../images/new-pattern-background.jpg);
    scroll-behavior: smooth;
}

.heading-jumbotron{
    background-color:#00203f;;
    height:90vh;
    border-radius:25px;
    font-size:3rem;
    font-family: 'Pacifico', cursive;
}

h3{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight:bolder;
    font-size:2rem;
}

h1{
    font-size:6rem;
    color:#ADEFD1FF;
}

p,li {
    font-family: 'PT Sans', sans-serif;
    color:#043363;
    font-size:1.18rem;
}

.container-fluid{
background: rgba( 4, 26, 67, 0.10 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}